### Substitute USERNAME to correct the path
### Substitute the OCIDs, fingerprints and keys with the correct ones for your environment
### File for Linux and OS X Users in shell environment
### Authentication details
export TF_VAR_tenancy_ocid=ocid1.tenancy.oc1..aaaaaaaa5txfxrudc5ezitovlpjznw6b3l6sqvkzddepsfu4es2i4x2xyeia
export TF_VAR_user_ocid=ocid1.user.oc1..aaaaaaaagf2r3i3id6lasstuhcuaydr7zg6g2ww4swujpiqrinj4ukrywaoq
export TF_VAR_fingerprint=5c:97:a9:3d:83:c1:38:a0:9e:21:aa:91:76:da:10:7f
export TF_VAR_private_key_path=/Users/jushahid/.oci/oci_api_key.pem

### Compartment
export TF_VAR_compartment_ocid=ocid1.compartment.oc1..aaaaaaaaseo4aolyjd5ndfifkexmsu3bfweiko2to74lbru6x4djkmzz2d5q

### Public/private keys used on the instances
export TF_VAR_ssh_public_key=$(cat ~/.ssh/id_rsa.pub)
export TF_VAR_ssh_private_key=$(cat ~/.ssh/id_rsa)

### Region
export TF_VAR_region=us-ashburn-1
